<div class="row">
<div class="col-xs-12">
  <button class="btn btn-success">New Recipe </button>
</div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <mat-card class="example-card" *ngFor="let recipe of recipes">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>{{recipe.name}}</mat-card-title>
          <mat-card-subtitle>{{ recipe.subMenu }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="recipe.imagePath">
        <mat-card-content>
          <p>{{ recipe.description }}</p>
        </mat-card-content>
      </mat-card>

    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

<!-- original bootstrap -->
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
<div class="pull-left">
  <h4 class ="list-group-item-heading">{{recipe.name}}</h4>
  <p class = "list-group-item-text">{{ recipe.description }}</p>
</div>
<span class="pull-right">
  <img class="img-responsive" [src]="recipe.imagePath" style="max-height: 50px">
  </span>
</a>
<app-recipe-item></app-recipe-item>
</div>
</div>


